
body {
  font-size: 10px;
  cursor: url('https://github.com/blobiefishie/blobiefishie.github.io/blob/a84819304c6bdec4de7c24e67aa524035f87759d/images/33866.png'), auto;
  background: black;
  
}


h1 {
  color: white;

}
