
body {
  font-size: 10px;
  cursor: url("https://github.com/blobiefishie/blobiefishie.github.io/blob/4f89eec21e4af6cec5ada3e8cfac48ac52b02b58/images/33866.png"), auto;
  background: black;
  
}
  

h1 {
  color: white;

}
